*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  
    background-color: #548687;
    text-align: center;
}

.game-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    
}

.game-board{
    width: 60vmin;
    height: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.game-box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    box-shadow: 0, 0, 1rem, rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: #b0413e;
    background-color: white;
}

#new-game-btn, #restart-game{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

#restart-game{
    margin-bottom: 1rem;
}

#game-message{
    color: white;
    font-size: 5vmin;
}

.message-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
}

.hide{
    display:none;
}